/*----------NO FLEX ZONE----------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*----------NO FLEX ZONE----------*/
/*----------start desktop styles----------*/
/*----------start header section styles----------*/

header {
  background-color: #E5F3F2;
  padding-bottom: 0.4em;
}

h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 4em;
  text-align: center;
  padding: 0.4em 0;
}

h1 span {
  color: #6D6E71;
}

.user-input {
  display: block;
  height: 3em;
  margin: 0 auto 1.5em;
  outline: none;
  width: 55%;
}

.submit-btn {
  background-color: #00A79D;
  color: #FFFFFF;
}

.submit-btn:hover {
  background-color: #045E55;
}

/*----------end header section styles----------*/
/*----------start search bar section styles----------*/

.search-bar {
  margin-top: 2em;
}

/*----------end search bar section styles----------*/
/*----------start idea card section styles----------*/

.idea-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 55%;
}

.idea {
  background-color: white;
  border-bottom: thin solid #D1D3D4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.top-line {
  display: flex;
  justify-content: space-between;
}

h3, h4 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  width: 10rem;
}

.small-btn {
  height: 1.3rem;
  width: 1.3rem;
}

p {
  color: #939598;
  margin: 1rem 0rem 1rem 0rem;
}

.bottom-line {
  display: flex;
  flex-direction: row;
}

.bottom-btn {
  margin-right: .6rem;
}

.quality {
  font-family: 'Open Sans', sans-serif;
}

/*----------end idea card section styles----------*/
/*----------end desktop styles----------*/
/*----------start mobile styles----------*/

/*----------end mobile styles----------*/